/* Common */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    font-size: 16px;
}

/* App */

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bcd4;
}

.app__inner {
    padding: 0 1rem;
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
}

/* Token */

.token {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #b2ebf2;
    border-radius: 1rem;
}

.token:not(:last-child) {
    margin: 0 0 0.2rem 0;
}

.token__input {
    padding: 1rem 0;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.token__input::-webkit-outer-spin-button,
.token__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.token__select {
    font-family: inherit;
    border: none;
    border-radius: 1rem;
}

/* ConvertButton */

.convert-button {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    transform: translateY(-50%);
    border: 0.2rem solid #fff;
    border-radius: 0.2rem;
    background-color: #b2ebf2;
}
